.fondo-registro {
    background: #c9e1eb;
    background-size: cover;
}

.fondo-acces {
    background: #29128f;
    background-size: cover;
}
.form-register {
    width: 350px;
    background: #24303c;
    padding: 20px;
    margin: auto;
    margin-top: 100px;
    
    font-family: 'calibri';
    color: #fff;
    border-radius: 2px;
    /*
    border-radius: 16px;
    box-shadow: 0px 0px 6px #848484; 
    */
}
.form-register h1 {
    text-align: center;
    font-family: "arial";
    margin-top: 0;
}
.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 2px;
    margin-bottom: 16px;
    border: 1px solid #bbbbbb;
    font-family: 'calibri';
    font-size: 18px;
    color: #fff;
    margin-left: -12px;
}
.form-register .botons {
    cursor: pointer;
    width: 50%;
    background: #0f72e2;
    
    border-radius:2px;
    border: none;
    padding: 8px;
    color: #fff;
    font-size: 12px;
    margin-left: 25%;
   
}
.form-register .botons2 {
    cursor: pointer;
    width: 50%;
    background: #49e002;
    border-radius: 2px;
    border: none;
    padding: 8px;
    color: #fff;
    font-size: 12px;
    margin-left: 25%;

    /*
        box-shadow: 7px 13px 37px #000;
    */
}
.register-img {
    margin-top: -50px;
}
.register-img img {
    width: 100px;
    height: 100px;
    box-shadow: 0px 0px 6px #848484;
    border-radius: 50%;
    margin-left: 120px
}
.fondo {
    background: rgba(141, 141, 141, 0.6);
    box-shadow:  7px 13px 37px #000;
}
.fuente {
    text-align: center;
    color: #fff;
    font-size: 32px;
}
